mixin social-list({items} = {})
  -
    const defaultItems = [
      {
        'id': 'twitter',
        'text': 'Мы в Твиттер',
        'link': 'https://twitter.com/'
      },
      {
        'id': 'facebook',
        'text': 'Мы в Фейсбук',
        'link': 'https://www.facebook.com/'
      },
      {
        'id': 'instagram',
        'text': 'Мы в Инстаграм',
        'link': 'https://www.instagram.com/'
      }
    ];
    items = items || defaultItems;

  ul.social-list
    each item in items
      - let {id, link, text} = item;
      li.social-list__item
        a(
          class=`social-list__link social-list__link_type_${id}`,
          href=link,
          target='_blank',
          rel='noopener noreferrer'
          )
          span.social-list__text !{text}
          span(class=`social-list__icon social-list__icon_type_${id}`)
