include ../../components/rating/rating

mixin room-info-cards({ title, items, countOfImages = 0, indent = 'small' } = options)
  -
    const indentModifiers = {
      small: 'room-info-cards__item_indent_small',
      big: 'room-info-cards__item_indent_big'
    };
    const classes = [
    indentModifiers[indent]
    ];
  div.room-info-cards
    if (title)
      h1.room-info-cards__title !{title}
    ul.room-info-cards__list
      if (items)
        each item in items
          - let { roomNumber, title, type, price, rating, reviewsCount } = item;
          li.room-info-cards__item(class=classes)
            div.room-info-cards__slideshow-container.js-room-info-cards__slideshow-container
              - let imageIndex = 1;
              while (imageIndex <= countOfImages)
                div.room-info-cards__slides.js-room-info-cards__slides.room-info-cards__slides_view_faded.room-info-cards__slides_visible
                  img.room-info-cards__img(
                    src=require(`../../components/room-info-cards/images/${roomNumber}/${roomNumber}_${imageIndex}.png`).default
                    alt=`Номер ${roomNumber}`
                    )
                - imageIndex += 1;
              a.room-info-cards__prev-link.js-room-info-cards__prev-link
                span.room-info-cards__prev-icon expand_more
              a.room-info-cards__next-link.js-room-info-cards__next-link
                span.room-info-cards__next-icon expand_more
              br
              div.room-info-cards__dots-wrapper
                - let dotsCount = 1;
                while (dotsCount <= countOfImages)
                  span(data-number=`${dotsCount}`).room-info-cards__dot.js-room-info-cards__dot
                  - dotsCount += 1;
            div.room-info-cards__info-wrapper
              div.room-info-cards__room-wrapper
                div
                  span.room-info-cards__number !{title}
                  if(type)
                    span.room-info-cards__type  !{type}
                div.room-info-cards__price-wrapper
                  b.room-info-cards__price !{price}&#8381;
                  span.room-info-cards__price-period  в сутки
              div.room-info-cards__reviews-wrapper
                +rating(rating)
                a.room-info-cards__reviews(href="reviews.html") <b> !{reviewsCount} </b>Отзывов
