include ../../components/rating/rating

mixin room-info-cards({title, items, countOfImages, isSmallIndent} = options)
  -
    countOfImages = countOfImages || 0;
    isSmallIndent = isSmallIndent || true;

  div.room-info-cards
    if (title)
      h1.room-info-cards__title !{title}
    ul.room-info-cards__list
      if (items)
        each item in items
          - let {roomNumber, isSmallIndent, title, type, price, rating, reviewsCount} = item;
          li.room-info-cards__item(
            class=isSmallIndent ? 'room-info-cards__item_indent_small' : 'room-info-cards__item_indent_big'
            )
            div.room-info-cards__slideshow-container.js-room-info-cards__slideshow-container
              - let i = 1;
              while (i <= countOfImages)
                div.room-info-cards__mySlides.js-room-info-cards__mySlides.room-info-cards__mySlides_faded
                  img.room-info-cards__img(
                    src=require(`../../components/room-info-cards/images/${roomNumber}/${roomNumber}_${i}.png`).default
                    alt="Фото номера"
                    )
                - i++
              a.room-info-cards__prev-link.js-room-info-cards__prev-link
                span.room-info-cards__prev-icon expand_more
              a.room-info-cards__next-link.js-room-info-cards__next-link
                span.room-info-cards__next-icon expand_more
              br
              div.room-info-cards__dots-wrapper
                - let dotsCount = 1;
                while (dotsCount <= countOfImages)
                  span(data-number=`${dotsCount}`).room-info-cards__dot.js-room-info-cards__dot
                  - dotsCount++
            div.room-info-cards__info-wrapper
              div.room-info-cards__room-wrapper
                div
                  span.room-info-cards__number !{title}
                  if(type)
                    span.room-info-cards__type  !{type}
                div.room-info-cards__price-wrapper
                  b.room-info-cards__price !{price}&#8381;
                  span.room-info-cards__price-period  в сутки
              div.room-info-cards__reviews-wrapper
                +rating(rating)
                a.room-info-cards__reviews(href="reviews.html") <b> !{reviewsCount} </b>Отзывов
