mixin richCheckboxButtons(checkboxData, titleOfList=null)
  div.rich-checkbox
    if titleOfList
      h2.rich-checkbox__title !{titleOfList}
    ul.rich-checkbox__list
      each item in checkboxData
        li.rich-checkbox__item
          input.rich-checkbox__input(
            type = 'checkbox',
            id = item.name+'-id',
            name = item.name,
            checked=(item.isChecked==='true' ? 'checked' : undefined),
            disabled=(item.isDisabled==='true' ? 'checked' : undefined),
          )
          label.rich-checkbox__label(for=item.name+'-id')
            div
              p.rich-checkbox__item-title #{item.title}
              p.rich-checkbox__description #{item.description}
