mixin radioButtons(radioData, titleOfList=null)
  div.radio
    if titleOfList
      h2.radio__title !{titleOfList}
    ul.radio__list
      each item, index in radioData
        li.radio__item
          input.radio__input(
            type = 'radio',
            id = item.name+'-'+index+'-id',
            name = item.name,
            checked=(item.isChecked==='true' ? 'checked' : undefined),
            disabled=(item.isDisabled==='true' ? 'checked' : undefined),
          )
          label.radio__label(for=item.name+'-'+index+'-id') #{item.label}
