mixin button({ type = 'button', height = 'high', view, state, url, content } = options)
  -
    const typeModifiers = {
      button: 'button_type_button',
      submit: 'button_type_submit',
      link: 'button_type_link'
    };
    const heightModifiers = {
      high: 'button_height_high',
      low: 'button_height_low'
    };
    const viewModifiers = {
      filled: 'button_view_filled',
      bordered: 'button_view_bordered',
      textual: 'button_view_textual',
      actionable: 'button_view_actionable'
    };
    const stateModifiers = {
      hovered: `${viewModifiers[view]}-on-hover`
    };
    const classes = [
      typeModifiers[type],
      heightModifiers[height],
      viewModifiers[view],
      stateModifiers[state]
    ];
    const tag = type === 'link' ? 'a' : 'button';
    const buttonType = type === 'link' ? false : type;

  #{tag}.button(type=buttonType, class=classes, href=url) !{content}
