mixin toggleButton(toggleData, title=null)
  div.toggle
    if title
      h2.toggle__title !{title}
    ul.toggle__list
      each item in toggleData
        li.toggle__item
          label.toggle__label(for=item.id) #{item.label}
            input.toggle__input(
              type = 'checkbox',
              name = item.name,
              checked=(item.isChecked==='true' ? 'checked' : undefined),
            )
            span.toggle__slider
