include ../masked-text-field/masked-text-field

mixin date-dropdown({ isInline, startLabel, endLabel, placeholder } = options)
  if (isInline)
    div.date-dropdown.js-date-dropdown.date-dropdown--inline.js-date-dropdown--inline
      div.date-dropdown__item--inline.js-date-dropdown__item--inline
  else
    div.date-dropdown.js-date-dropdown(
      class=endLabel ? "date-dropdown--with-to-inputs js-date-dropdown--with-to-inputs" : "date-dropdown--filter js-date-dropdown--filter"
    )
      div.date-dropdown__item(class=!endLabel && "date-dropdown__item--filter")
        label.date-dropdown__label !{startLabel}
          input.date-dropdown__input(
            type="text"
            class=endLabel ? "date-dropdown__input--first js-date-dropdown__input--first" : "date-dropdown__input--filter js-date-dropdown__input--filter"
            placeholder=placeholder || "дд.мм.гггг"
            readonly
            data-position="bottom left"
          )
      if (endLabel)
        div.date-dropdown__item
          label.date-dropdown__label !{endLabel}
            input.date-dropdown__input.date-dropdown__input--second.js-date-dropdown__input--second(
              type="text"
              placeholder=placeholder || "дд.мм.гггг"
              readonly
              data-position="bottom right"
            )
