include ../like-button/like-button

mixin reviews({title, items, isVisibleCountOfReviews} = options)
  div.reviews
    div.reviews__wrapper
      if (title)
        h2.reviews__title !{title}
      if (items && isVisibleCountOfReviews)
        span.reviews__count !{items.length} отзыва
    ul.reviews__list
      if (items)
        each item in items
          - let {imgName, authorName, date, likeButton, text} = item;
          li.reviews__item
            div.reviews__author
              img.reviews__avatar(
                src = require(`../../components/reviews/images/${imgName}`).default
                width="48" height="48" alt="Avatar")
              div.reviews__author-info
                span.reviews__author-name !{authorName}
                span.reviews__date !{date}
            div.reviews__text-wrapper
              +like-button(likeButton)
              p.reviews__text !{text}
