mixin reviews(data, title=null, count=null)
  include ../like-button/like-button
  div.reviews
    div.reviews__wrapper
      if title
        h2.reviews__title !{title}
      if count
        span.reviews__count !{count} отзыва
    ul.reviews__list
      each item in data
        li.reviews__item
          div.reviews__author
            img.reviews__avatar(src=require('../../components/reviews/images/' + item.imgName).default width='48' height='48' alt='Avatar')
            div.reviews__author-info
              span.reviews__author-name !{item.authorName}
              span.reviews__date !{item.date}
          div.reviews__text-wrapper
            +likeButton(item.likeBtn.count, item.likeBtn.isActive)
            p.reviews__text !{item.text}
