mixin rangeSlider(title, from, to, min=0, max=15000)
  div.range-slider
    h3.range-slider__title #{title}
    input.range-slider__input(type='text' value='' data-min=min data-max=max data-from=from, data-to=to)
