extends ../../base/base.pug
include ../../components/logo/logo

block vars
  - const {colors, types} = require('./theme.json');

block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Colors and Type для Uikit.")

block title
  | Colors and Type

block content
  div.theme
    +logo('uikit')
    main.theme__content-wrapper
      div.theme__container
        div.theme__content
          each color in colors
            - let {value, title, valueInHex} = color;
            div.theme__color
              div.theme__color-example(style=`background-color: ${value}`)
              div.theme__color-info
                h2.theme__color-title #{title}
                p.theme__color-description #{valueInHex}
        div.theme__content
          each type in types
            - let {title, tag, description} = type;
            div.theme__type(class=`theme__type-wrapper_type_${title.toLowerCase()}`)
              #{tag}(class=`theme__type-title theme__type-title_type_${title.toLowerCase()}`) #{title}
              #{tag}.theme__type-description #{description}
