mixin header(data, isUserAuthorized, isRu)
  include ../button/button
  include ../logo/logo
  include ../modal/modal
  header.header
    div.header__wrapper
      +logo
      div.header__content-wrapper.header__content-wrapper-menu--opened
        div.header__buttons-wrapper.js-header__buttons-wrapper
          button.header__toggle-menu-btn.header__toggle-menu-btn--nojs.js-header__toggle-menu-btn(type='button')
            span.header__toggle-menu-icon.header__toggle-menu-icon--open menu
            span.header__toggle-menu-icon.header__toggle-menu-icon--close expand_less
          if(isUserAuthorized)
            span.header__user-name.js-header__user-name Cosmin Negoita
          else
            a.header__show-auth-btn.header__show-auth-btn--nojs(href='auth.html') person
            div.header__auth-wrapper
              if(isRu)
                div.header__login-button-wrapper
                  +button({'isLogin': 'true', 'view': 'with-border', 'height': 'low', 'content': 'войти'})
                +button({'isRegister': 'true', 'view': 'filled', 'height': 'low', 'content': 'зарегистрироваться'})
              else
                div.header__login-button-wrapper
                  +button({'isLogin': 'true', 'view': 'with-border', 'height': 'low', 'content': 'Login'})
                +button({'isRegister': 'true', 'view': 'filled', 'height': 'low', 'content': 'REGISTER'})
        nav.header__main-nav.js-header__main-nav
          ul.header__nav-list.js-header__nav-list
            each item in data
              li.header__nav-item(
                class=item.submenu ? 'header__submenu header__submenu--close' : ''
                class=isRu ? 'header__nav-item--small-margin' : 'header__nav-item--big-margin'
                )
                a.header__nav-link(class=item.isActive ? 'header__nav-link--active' : '') !{item.content}
                if(item.submenu)
                  button.header__toggle-submenu-btn.header__toggle-submenu-btn--nojs
                    span.header__toggle-submenu-icon.header__toggle-submenu-icon--open expand_more
                    span.header__toggle-submenu-icon.header__toggle-submenu-icon--close expand_less
                  ul.header__submenu-list
                    each subitem in item.submenu
                      li.header__submenu-item
                        a.header__submenu-item !{subitem.content}
  if(!isUserAuthorized)
    +modal('login')
    +modal('registration')
