include ../button/button
include ../logo/logo

mixin header({isUserAuthorized, items} = {})
  -
    const defaultItems = [
      {'content': 'О нас'},
      {'content': 'Услуги', 'submenu': [{'content': 'Услуга_1'}, {'content': 'Услуга_2'}]},
      {'content': 'Вакансии'},
      {'content': 'Новости'},
      {'content': 'Соглашения', 'submenu': [{'content': 'Соглашение_1'}, {'content': 'Соглашение_2'}]},
    ];
    items = items || defaultItems;

  header.header.js-header
    div.header__wrapper
      +logo
      div.header__content-wrapper.header__content-wrapper-menu_opened
        div.header__buttons-wrapper.js-header__buttons-wrapper
          button.header__toggle-menu-btn.js-header__toggle-menu-btn(type="button")
            span.header__toggle-menu-icon.header__toggle-menu-icon_view_hamburger menu
            span.header__toggle-menu-icon.header__toggle-menu-icon_view_arrow expand_less
          if (isUserAuthorized)
            span.header__user-name.js-header__user-name Юлий Цезарь
          else
            a.header__show-auth-btn(href="sign-in.html") person
            div.header__auth-wrapper
              div.header__login-button-wrapper
                +button({type: 'link', view: 'bordered', height: 'low', content: 'войти', url: 'sign-in.html'})
              +button({type: 'link', view: 'filled', height: 'low', content: 'зарегистрироваться', url: 'sign-up.html'})
        nav.header__main-nav.js-header__main-nav
          ul.header__nav-list.js-header__nav-list
            each item in items
              - let {submenu, isActive, content} = item;
              li.header__nav-item.js-header__nav-item(
                class = "header__nav-item_margin_small"
                class = submenu ? "header__submenu js-header__submenu" : ""
              )
                if (submenu)
                  span.header__nav-link(class=isActive ? "header__nav-link_active" : "") !{content}
                else
                  a.header__nav-link(class=isActive ? "header__nav-link_active" : "" href="test.html") !{content}
                if (submenu)
                  button.header__toggle-submenu-btn.js-header__toggle-submenu-btn
                    span.header__toggle-submenu-icon expand_more
                  ul.header__submenu-list
                    each subitem in submenu
                      - let {content} = subitem;
                      li.header__submenu-item
                        a.header__submenu-link(href="test.html") !{content}
