mixin bulletList(bulletData, titleOfList=null, isUikit=null)
  div.bullet
    if titleOfList
      h2.bullet__title(class=isUikit ? 'bullet__title--montserrat' : '') !{titleOfList}
    ul.bullet__list
      each item in bulletData
        li.bullet__item(class = item.classes) #{item.name}
