extends ../../base/base.pug
include ../../components/logo/logo

block vars
  -
    const colors = [
      {"title": "Dark Shade 100%", "value": "rgba(31, 32, 65, 1)", "valueInHex": "#1F2041"},
      {"title": "Dark Shade 75%", "value": "rgba(31, 32, 65, 0.75)", "valueInHex": "#1F2041"},
      {"title": "Dark Shade 50%", "value": "rgba(31, 32, 65, 0.50)", "valueInHex": "#1F2041"},
      {"title": "Dark Shade 25%", "value": "rgba(31, 32, 65, 0.25)", "valueInHex": "#1F2041"},
      {"title": "Dark Shade 5%", "value": "rgba(31, 32, 65, 0.05)", "valueInHex": "#1F2041"},
      {"title": "Purple", "value": "rgba(188, 156, 255, 1)", "valueInHex": "#BC9CFF"},
      {"title": "Green", "value": "rgba(111, 207, 151, 1)", "valueInHex": "#6FCF97"}
    ];
    const types = [
      {"tag": "H1", "title": "H1", "description": "This one is the sub-section or widget title"},
      {"tag": "H2", "title": "H2", "description": "Next one is the item title inside widgets"},
      {"tag": "H3", "title": "H3", "description": "This is a label or CTA text"},
      {"tag": "p", "title": "Body", "description": "This is the body text which is used for most of the design, like paragraphs, lists, etc."},
    ];

block meta
  meta(name="keywords", content="toxin")
  meta(name="description" content="Учебный проект FSD. Colors and Type для Uikit.")

block title
  | Colors and Type

block content
  +logo("uikit")
  main.theme
    div.theme__container
      div.theme__content
        each item in colors
          div.theme__color
            div.theme__color-example(style=`background-color: ${item.value}`)
            div.theme__color-info
              h2.theme__color-title #{item.title}
              p.theme__color-description #{item.valueInHex}
      div.theme__content
        each item in types
          div.theme__type(class=`theme__type-wrapper_type_${item.title.toLowerCase()}`)
            #{item.tag}(class=`theme__type-title theme__type-title_type_${item.title.toLowerCase()}`) #{item.title}
            #{item.tag}.theme__type-description #{item.description}
