include ../logo/logo
include ../button/button
include ../subscription-text-field/subscription-text-field

mixin footer({items, isUikit} = {})
  -
    const defaultItems = {
      'description': 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      'contentLists': [
        {
          'title': 'навигация',
          'links': ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
        },
        {
          'title': 'о нас',
          'links': ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
        },
        {
          'title': 'Служба поддержки',
          'links': ['Соглашения', 'Сообщества', 'Связь с нами']
        },
        {
          'title': 'Подписка',
          'subscribe': 'Получайте специальные предложения и новости сервиса'
        }
      ],
      'copyrightText': 'Copyright © 2018 Toxin отель. Все права зачищены.'
    };
    items = items || defaultItems;

  footer.footer(class=isUikit ? 'footer-uikit' : '')
    div.footer__wrapper
      div.footer__description-wrapper
        +logo
        p.footer__description !{items.description}
      div.footer__content-wrapper
        each item in items.contentLists
          div.footer__content-item
            h3.footer__title !{item.title}
            if (item.links)
              ul.footer__content-list
                each link in item.links
                  li.footer__content-unit
                    a.footer__content-link !{link}
            if (item.subscribe)
              div.footer__subscribe-wrapper
                p.footer__subscribe-text !{item.subscribe}
                +subscriptionTextField({'type': 'Email', 'name': 'subscription-text', 'placeholder': 'Email'})
    hr.footer__separator
    div.footer__bottom-wrapper
      p.footer__copyright-text !{items.copyrightText}
      ul.footer__social-list
        li.footer__social-item
          a.footer__social-link.footer__social-link_social-network_tw(href='https://twitter.com/' target='_blank' rel='noopener noreferrer')
            span.footer__social-text Мы в Твиттер
            span.footer__social-icon.footer__social-icon_social-network_tw
        li.footer__social-item
          a.footer__social-link.footer__social-link_social-network_fb(href='https://www.facebook.com/' target='_blank' rel='noopener noreferrer')
            span.footer__social-text Мы в Фейсбук
            span.footer__social-icon.footer__social-icon_social-network_fb
        li.footer__social-item
          a.footer__social-link.footer__social-link_social-network_insta(href='https://www.instagram.com/' target='_blank' rel='noopener noreferrer')
            span.footer__social-text Мы в Инстаграм
            span.footer__social-icon.footer__social-icon_social-network_insta
