include ../logo/logo
include ../button/button
include ../social-list/social-list
include ../subscription-text-field/subscription-text-field

mixin footer({ items, isUikit } = {})
  -
    const defaultItems = {
      description: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
      contentLists: [
        {
          title: 'навигация',
          links: ['О нас', 'Новости', 'Служба поддержки', 'Услуги']
        },
        {
          title: 'о нас',
          links: ['О сервисе', 'Наша команда', 'Вакансии', 'Инвесторы']
        },
        {
          title: 'Служба поддержки',
          links: ['Соглашения', 'Сообщества', 'Связь с нами']
        },
        {
          title: 'Подписка',
          subscribe: 'Получайте специальные предложения и новости сервиса'
        }
      ],
      copyrightText: 'Copyright © 2018 Toxin отель. Все права зачищены.'
    };
    const { description, contentLists, copyrightText } = items || defaultItems;

  footer.footer(class=isUikit && "footer-uikit")
    div.footer__total-wrapper
      div.footer__top-wrapper
        div.footer__description-wrapper
          +logo
          p.footer__description !{description}
        div.footer__content-wrapper
          each item in contentLists
            - let { title, links, isDisabled, isChecked, subscribe } = item;
            div.footer__content-item
              h3.footer__title !{title}
              if (links)
                ul.footer__content-list
                  each link in links
                    li.footer__content-unit
                      a.footer__content-link !{link}
              if (subscribe)
                div.footer__subscribe-wrapper
                  p.footer__subscribe-text !{subscribe}
                  +subscription-text-field({type: 'Email', name: 'subscription-text', placeholder: 'Email'})
      hr.footer__separator
      div.footer__bottom-wrapper
        p.footer__copyright-text !{copyrightText}
        +social-list
