mixin footer(data, isRu, isUikit)
  include ../logo/logo
  include ../button/button
  include ../subscription-text-field/subscription-text-field
  footer.footer(class=isUikit ? 'footer-uikit' : '')
    -
      const subscriptionTextField = {
      'type': 'Email',
      'name': 'subscription-text',
      'id': 'subscription-text-id',
      'placeholder': 'Email',
      };
    div.footer__wrapper
      div.footer__description-wrapper
        +logo
        p.footer__description !{data.description}
      div.footer__content-wrapper
        each item in data.contentLists
          div.footer__content-item
            h3 !{item.title}
            if(item.links)
              ul.footer__content-list
                each link in item.links
                  li
                    a.footer__content-link !{link}
            if(item.subscribe)
              div.footer__subscribe-wrapper
                p.footer__subscribe-text !{item.subscribe}
                +subscriptionTextField(subscriptionTextField)
    hr.footer__separator
    div.footer__bottom-wrapper
      p.footer__copyright-text !{data.copyrightText}
      ul.footer__social-list
        li
          a.footer__social-link.footer__social-link_social-network_tw(href='https://twitter.com/' target='_blank' rel='noopener noreferrer')
            span.visually-hidden Мы в Твиттер
            span.footer__social-icon.footer__social-icon_social-network_tw
        li
          a.footer__social-link.footer__social-link_social-network_fb(href='https://www.facebook.com/' target='_blank' rel='noopener noreferrer')
            span.visually-hidden Мы в Фейсбук
            span.footer__social-icon.footer__social-icon_social-network_fb
        li
          a.footer__social-link.footer__social-link_social-network_insta(href='https://www.instagram.com/' target='_blank' rel='noopener noreferrer')
            span.visually-hidden Мы в Инстаграм
            span.footer__social-icon.footer__social-icon_social-network_insta
