mixin toggle(options = {})
  -
    const defaultItems = require('../../components/toggle/toggle.json');
    const {
      title,
      items = defaultItems
    } = options;
  div.toggle
    if (title)
      h2.toggle__title !{title}
    ul.toggle__list
      if (items)
        each item in items
          - let { id, name, label, isChecked } = item;
          li.toggle__item
            label.toggle__label(for=id) #{label}
              input.toggle__input(
                type="checkbox",
                name=name,
                checked=isChecked
              )
              span.toggle__slider
