mixin textField(options)
  div.text-field
    if options.label
      label.text-field__label(for=options.name+'-id') !{options.label}
    if options.uikitState
      span.text-field__state !{options.uikitState}
    input.text-field__input(
      type = options.type ? options.type : 'text',
      name = options.name,
      id = options.name+'-id',
      class=options.isHovered==='true' ? 'text-field__input--hovered' + options.classes : '',
      class=options.mixedClasses ? 'text-field__input--' + options.mixedClasses : '',
      placeholder = options.placeholder || '',
      :readonly=(options.readOnly)
  )
