mixin text-field({type = "text", name, placeholder = '', label, readOnly = false, isUikit = false, uikitState, isHovered} = options)
  - const id = isUikit ? `${name}-uikit-id` : `${name}-id`
  div.text-field
    if label
      label.text-field__label(for=id) !{label}
    if uikitState
      span.text-field__state !{uikitState}
    input.text-field__input(
      type=type,
      name=name,
      id=id,
      class=isHovered && "text-field__input_hovered",
      placeholder=placeholder,
      readonly=readOnly
  )
